.movie_data {
  background-color: #fff;
  color: grey;
  margin: 30px;
  padding: 30px;
  position: relative;
}
.movie_title {
  border-bottom: 1px solid grey;
  color: #000;
  font-size: xx-large;
}
.movie_infor {
  background-color: grey;
  border: 1px solid gray;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 8px #000, 5px, 5px, 15px transparent;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
}
.movie_id {
  top: 5px;
  z-index: 1;
}
.movie_date,
.movie_id {
  position: absolute;
  right: 20px;
}
.movie_date {
  bottom: 5px;
}
.movie_adult {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.movie_poster {
  display: inline-block;
  position: relative;
}
.movie_lang {
  text-transform: uppercase;
}
body {
  background-color: #dae0ed;
}
ul {
  background-color: #333;
  display: inline-block;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  color: #fff;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.yt_main {
  background-color: #4d4d4d;
  width: 720px;
}
.yt__top {
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
}
.top__w {
  width: 600px;
}
.time {
  color: #fff;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 0;
}
.icon {
  align-items: conter;
  color: #fff;
  justify-content: space-between;
  padding-right: 20px;
}
.icon,
.lte {
  display: flex;
}
.lte {
  margin: 8px;
}
.batter,
.wifi {
  margin-top: 5px;
}
.ty__top2 {
  background-color: #2b2b2b;
  display: flex;
  height: 70px;
  justify-content: space-between;
}
.title {
  color: #fff;
  font-size: 40px;
}
.conserv {
  justify-content: center;
}
.centericon,
.conserv {
  align-items: center;
  display: flex;
}
.centericon {
  margin: 10px;
}
.propil {
  background-color: #000;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 10px;
  height: 36px;
  margin-left: 8px;
  width: 40px;
}
.propil,
.titleicon {
  align-items: center;
  display: flex;
  justify-content: center;
}
.titleicon {
  background-color: red;
  border-radius: 30%;
  color: #fff;
  height: 35px;
  margin-top: 13px;
  width: 45px;
}
.titleset {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.ty__top3 {
  background-color: #2b2b2b;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ty__top3__1 {
  align-items: center;
  background-color: #636161;
  border-radius: 10%;
  color: #fff;
  display: flex;
  font-size: 18px;
  justify-self: center;
  margin: 3px 15px 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.ty__top3__out {
  display: flex;
  margin-top: 10px;
}
.comicon {
  margin-top: 4px;
  padding-right: 5px;
}
.ty__top3__bo {
  border-right: 1px solid #636161;
  height: 30px;
}
.ty__top3__part2 {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  width: 450px;
}
.ty__top3__part2 > div {
  align-items: center;
  background-color: #a7a7a7;
  border-radius: 20px;
  color: #fff;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  padding: 5px 10px;
}
.ty__en_part1 {
  height: 500px;
  width: 720px;
}
.ty__buttom {
  background-color: #181818;
  color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  width: 640px;
}
.ty__buttom > div {
  width: 50px;
}
.ty__buttom__text {
  display: flex;
  font-size: 2px;
  justify-content: center;
  padding-top: -1px;
}
.ty__button__plus {
  width: 60px;
}
.ploli_icon > img {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}
.ploli_icon {
  background-color: #353535;
  color: #fff;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ploli_text {
  font-size: 1px;
  height: 15px;
}
/*# sourceMappingURL=main.dce394b5.css.map*/
